body {
  position: relative;
  margin: 0;
  font-family: 'Pattaya', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-image: url(./assets/img/vegetables-set-to-the-left-of-a-black-slate.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: right;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
